<div class="scrollable">
    <div class="scrollable-content" style="padding-top:50px;">

        <div class="" style="margin-bottom:2em;" ng-repeat="booking in bookings track by $index">

                <div class="cardWrap" >
                    <div class="cardLeft" ng-class="{ 'card-green' : !booking.pending, 'card': booking.pending }">
                        <h1>{{booking.course.name}} </h1>
                        <div class="title">
                            <h2>{{booking.course.speaker}}</h2>
                            <span>PRESENTATION</span>
                        </div>
                        <div class="seat">
                            <h2>{{booking.course.time_from}} - {{booking.course.time_to}}</h2>
                            <span>time</span>
                        </div>
                    </div>
                    <div class="cardRight" ng-class="{ 'card-green' : !booking.pending, 'card': booking.pending }">
                        <div class="eye" style="color:white;font-weight:bold;"><h1>Block</h1></div>
                        <div class="barcode" ng-if="!booking.pending">
                            <qrcode data="booking.to" size="50" version="1" error-correction-level="Q"></qrcode>
                        </div>
                    </div>

                </div>
            <div class="clearfix"></div>
        </div>


    </div>
</div>

