<div class="carousel">

    <div class="carousel-inner">

        <div class="carousel-item" ng-repeat="course in topic.courses track by $index">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 pretty-text" style="text-align: center; padding-top: 10px; background-color: #007aff;">
                        <h1>{{ course.name }}</h1>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <img ng-src="{{course.picture}}" style="float:right; margin-left: 5px; margin-top:10px;">
                        <h4>{{ course.speaker }}</h4>
                        <p>{{ course.description }}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 margines">
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 margines">
                        {{course.time_from}}-{{course.time_to}}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 margines">
                        <button class="btn" ng-click="openCourse(course)">BOOK</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
